{% load static %}
<div class="border-block h-100">
  <div class="text-center">
    <img src="{% static 'core/images/rpc.jpg' %}" alt="Profile pic" class="img-fluid rounded-circle mt-4" width="50px"
      height="100px" />
  </div>
  <h6 class="mt-1 text-white text-center st-font">Rampravesh Chaudhari</h6>
  <hr class="bg-light" />
  <nav class="nav flex-column text-center">
    <a href="{% url 'home' %}" class="nav-link {{home}}">Home</a>
    <a href="{% url 'services' %}" class="nav-link {{services}}">Services</a>
    <a href="{% url 'skill' %}" class="nav-link {{skill}}">Skill</a>
    <a href="{% url 'contact' %}" class="nav-link {{contact}}">Contact</a>
  </nav>
</div>